version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: jscorp-hr-backend
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
    container_name: jscorp-hr-frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend

